
@{
    ViewBag.Title = "View";
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">

    <!------ Include the above in your HEAD tag ---------->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Knjige</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-table@1.17.1/dist/bootstrap-table.min.css">

    <link href="~/Content/AddKnjiga.css" rel="stylesheet">
</head>
<body>
    @model WebPlatforma.Entites.Knjiga
    @Html.Partial("_NavBarOut")
    <!--ucitava sve iz baze i ubacuje fajl u Resources-->
    <div class="klasaDiv">
        @using (Html.BeginForm("AdminUpdateKnjiga", "Knjiga", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div id="addbox" style=" margin-top:50px" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
                <div class="panel panel-info">

                    <div class="panel-body">
                        <form method="post" action=".">
                            <input type='hidden' name='csrfmiddlewaretoken' value='XFe2rTYl9WOpV8U6X5CfbIuOZOELJ97S' />


                            <div class="form-horizontal" method="post">
                                <input type='hidden' name='csrfmiddlewaretoken' value='XFe2rTYl9WOpV8U6X5CfbIuOZOELJ97S' />

                                <div id="div_id_predmet" class="form-group required">
                                    <label for="id_predmet" class="control-label col-md-4  requiredField"> Naziv predmeta<span class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md  textinput textInput form-control" id="id_predmet" maxlength="50" name="predmet" style="margin-bottom: 10px" type="text" value="@ViewBag.knjiga.predmet" />
                                    </div>
                                </div>

                                <div id="div_id_autor" class="form-group required">
                                    <label for="id_autor" class="control-label col-md-4  requiredField">Autor<span class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_autor" name="autor" value="@ViewBag.knjiga.autor" style="margin-bottom: 10px" type="text" />
                                    </div>
                                </div>

                                <div id="div_id_opis" class="form-group required">
                                    <label for="id_opis" class="control-label col-md-4  requiredField"> Opis<span class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input class="input-md textinput textInput form-control" id="id_opis" name="opis" value="@ViewBag.knjiga.opis" style="margin-bottom: 10px" type="text" />
                                    </div>
                                </div>

                                <div id="div_id_fajl" class="form-group required">
                                    <label for="id_fajl" class="control-label col-md-4  requiredField"> Dokument<span class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <a href="~/Resources/@ViewBag.knjiga.nazivFajla">@ViewBag.knjiga.nazivFajla</a>
                                    </div>
                                </div>


                                <div id="div_id_dok" class="form-group required">
                                    <label for="id_dok" class="control-label col-md-4  requiredField"> Promenite dokument<span class="asteriskField">*</span> </label>
                                    <div class="controls col-md-8 ">
                                        <input type="file" name="trenutniFajl" />
                                    </div>
                                </div>

                               <input data-val="true"
                                   data-val-number="The field StudentId must be a number."
                                   data-val-required="The StudentId field is required."
                                   id="StudentId"
                                   name="id"
                                   type="hidden"
                                   value="@ViewBag.knjiga.id" />

                                <div class="form-group">
                                    <div class="aab controls col-md-4 "></div>
                                    <div class="controls col-md-8 ">
                                        <input type="submit" name="updateKnjiga" value="Azurirajte knjigu" class="btn-info" id="submitKnjiga" />

                                    </div>
                                </div>





                            </div>

                        </form>
                    </div>
                </div>
            </div>
        }
    </div>

</body>
</html>
